* {
    margin:0;
    padding:0;
}


/*MAIN GRID LAYOUT*/

.mainContainer {
    display: grid;
    grid-template-columns: 0.75fr 4fr;
    grid-template-rows: 1.5fr 5fr;  
    height:100vh;  
}

.sideBar {
    padding:20px 20px 20px 30px;
    background-color: rgb(4, 138, 201);
    grid-area:  1 / 1 / 5 / 2; /* row start / column start / row end / column end*/
}

.topBar {
    background-color: rgb(202, 95, 95);
    grid-area: 1 / 2 / 2 / 3;
}

.mainContent {
    background-color: rgb(51, 219, 59);
    grid-area: 2 / 2 / 3 / 3;
}

/*NAVBAR GRID LAYOUT*/

.sideBar {
    display:grid;
    grid-template-rows: 100px 300px 300px;
    color:white;
}

.pages > * , .support > *{
    padding-top:10px;
    padding-bottom: 10px;
}

.support{
    padding-top:20px;
}

/*TOPBAR GRID LAYOUT*/

.topBar {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.topBar > .search {
    background-color:red;
    display:flex;
    
    flex-direction: column;
    justify-content: center;
    margin: 0px 50px 0px 100px;
    
}

.topBar > .profile {
    padding-top: 20px;
    background-color: blue;
    display:grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap:20px;
}

.profile > * {
    width:60px;
    height:60px;
    background: black;
}

.name {
    width:250px;
}

.topBar > .welcome {
    background-color: green;
    display:grid;
    grid-template-columns: 1fr 3fr;
}
.welcome > .icon {
    background-color: orange;
    width:100px;
    margin-left:100px;
}

.welcome > .text {
    background-color: orange;
    align-self: center;
    /*width: 350px;*/
}

.welcome > .username {
    background-color: blue;
}

.topBar > .buttons {
    background-color: purple;
}

.searchBar {
    background-color:yellow;
    border-radius: 15px;
    height:35px;
    width:80%;
}

