* {
    margin:0;
    padding:0;
}


/*MAIN GRID LAYOUT*/

.mainContainer {
    display: grid;
    grid-template-columns: 0.75fr 4fr;
    grid-template-rows: 1.5fr 5fr;  
    height:100vh;  
}

.sideBar {
    padding:20px 20px 20px 30px;
    background-color: rgb(255,126,0);
    grid-area:  1 / 1 / 5 / 2; /* row start / column start / row end / column end*/
}

.topBar {
    background-color: rgb(252, 252, 252);
    grid-area: 1 / 2 / 2 / 3;
}

.mainContent {
    background-color: rgb(136, 138, 136);
    grid-area: 2 / 2 / 3 / 3;
}

/*NAVBAR GRID LAYOUT*/

.sideBar {
    display:grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    color:white;
}

.pages > * , .support > *{
    padding-top:10px;
    padding-bottom: 10px;
}

/*
.support{
    padding-top:20px;
}
*/

/*TOPBAR GRID LAYOUT*/

.topBar {
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.topBar > .search {
    /*background-color:red;*/
    /*
    display:flex;
    
    flex-direction: column;
    justify-content: center;
    margin: 0px 50px 0px 100px;*/
    display:grid;
    grid-template-columns: 1fr 0.25fr 4fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    
}

.search > .icons {
    width:35px;
    height:35px;
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
}

.searchBar{
    grid-area: 2 / 3 / 3 / 4;
    align-self: center;
}

.topBar > .profile {
    padding-top: 20px;
    /*background-color: blue;*/
    display:grid;
    grid-template-columns: 0.5fr 0.5fr 3fr;
    gap:30px;
    margin-left:75px;
}

.profile > * {
    width:60px;
    height:60px;
  /*  background: rgb(255,126,0);*/
    border-radius: 45%;
    align-self: center;

}

.profile > .profilePic {
    background-color: rgb(255,126,0);
}

.profilePic > img {
    width:60px;
    height:60px;
    border-radius: 45%;
}

.notifications {
    align-self: center;
}
.profile > .name {
    border-radius:25px;
   /* text-align: center;*/
}

.name {
    width:250px;
    /*display:flex;*/
   /* text-align: center;*/
   /* justify-content: center;
    align-items: center;*/
    color: black;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.name > h3 {
    grid-area: 2 / 1 / 3 / 2;
}

.topBar > .welcome {
    /*background-color: green;*/
    display:grid;
    grid-template-columns: 1fr 0.65fr 3fr 1fr;
    grid-template-rows: 1fr 15fr 1fr;
    
   /* margin: 5px 0px;*/
}
.welcome > .icon {
    background-color: rgb(255,126,0);
    width:75px;
    height:75px;
    /*margin-left:100px;*/
    border-radius: 45%;
    grid-area: 2 / 2 / 3 / 3;
    /*align-self: center;*/

    
}

.icon > img {
    width:75px;
    height:75px;
    border-radius: 45%;
}

.welcome > .text {
   /* background-color: orange;*/
    align-self: center;
    /*width: 350px;*/
    grid-area: 2 / 3 / 3 / 4;
}

.welcome > .username {
  /*  background-color: blue;*/
}

.topBar > .buttons {
    /*background-color: purple;*/
}

.searchBar {
    background-color:rgb(245, 232, 225);
    border-radius: 15px;
    height:35px;
    width:80%;
}

.buttons {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr;*/
    gap:25px;
}
.buttons > button {
   /* all:unset;*/
   width:150px;
   align-self: center;
   font-size: 16px;
   font-weight: bold;
 
   color: #FFFFFF;
   background-color: rgb(255,126,0);
 
   border: none;
   border-radius: 45px;
 
   padding: 10px 40px;
   cursor: pointer;
}

#new {
    margin-left:25px;
}

#share {
    margin-right:25px;
}

/*MAIN CONTENT*/
.mainContent {
    display:grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.mainContent > .projects {
   /* background-color: red;*/
    grid-area: 1 / 1 / 3 / 2;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 8fr;
}

.projects > .projectsContainer {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.05fr;
   /* column-gap: 5px;
    row-gap: 5px;*/
}

.projects > h2 {
    margin-top:15px;
    margin-left:25px;
}
.card {
    margin:20px 0px 0px 20px;
    /*width:425px;*/
    height:200px;
    background-color: rgb(240, 224, 255);
    border-radius: 5px;
    /*box-shadow: -7px 0px rgb(0, 89, 255);*/
    border-left: solid 8px rgb(0, 89, 255);
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;

}

.card > h3 {
    margin-top:20px;
    margin-left:25px;
    margin-bottom:5px;
    font-size: 1.5em;
}

.text > p {
    font-size:1.4em;
    margin-left:25px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

   /* text-overflow: ellipsis;*/
   /*text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;*/
}

.cardContainer {
    display:grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr;

}

.cardContainer > .text {
    grid-area: 1 / 1 / 2 / span 3;
}

.favorite {
    grid-area: 2 / 2 / 3 / 3;
}

.watchlist {
    grid-area: 2 / 3 / 3 / 4;
}

.share {
    grid-area: 2 / 4 / 3 / 5;
}

.cardContainer > .text {


}

.cardContainer > .icons {


}

.mainContent > .announcements,
.mainContent > .trending {
   /* background-color: green;*/
   display:grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1.25fr 8fr;
}


.announcementsCardContainer {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(240, 224, 255);
    margin: 12px 25px;
}
.trendingCardContainer {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(240, 224, 255);
    margin: 12px 25px;
}

.announcementsCard {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.announcements > h2,
.trending > h2 {
    margin-left:25px;
    margin-top:15px;
}


.first, .second, .third {
    padding-top:10px;
    margin-left:10px;
    margin-right:10px;
}

.second, .third {
    border-top:2px solid;
}

.trendingCardContainer > .trendingCard {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap:5px;
}

.one,
.two,
.three,
.four{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.one > .icon,
.two > .icon,
.three > .icon,
.four > .icon {
    grid-area: 1 / 1 / 3 / 2;
    /*background-color: red;*/
    display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;}

.icon > p {
    grid-area: 2 / 3 / 3 / 4;
    place-self: center;
    margin-right:5px;
}


.one > .handle,
.two > .handle,
.three > .handle,
.four > .handle {
    grid-area: 1 / 2 / 2 / 3;
    place-self: end start;
    margin-bottom: 2px;
}

.one > .fullName,
.two > .fullName,
.three > .fullName,
.four > .fullName {
    grid-area: 2 / 2 / 3 / 3;
}

/*ICONS*/

.icons {
    width:50px;
    height:50px;
}

.title
 {
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
}
.home,
.myProfile,
.messages,
.history,
.tasks,
.communities,
.settings,
.support,
.privacy
 {
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.01fr 1fr 0.01fr;
}

.title > .icons {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
}
.title > h1
 {
    grid-area: 1 / 2 / 2 / 3;
    align-self: center;
    text-align: center;
}

.home > .icons,
.myProfile > .icons,
.messages > .icons,
.history > .icons,
.tasks > .icons,
.communities > .icons,
.settings > .icons,
.support > .icons,
.privacy > .icons {
    grid-area: 2 / 1 / 3 / 2;
    align-self: center;
}

.home > h2,
.myProfile > h2,
.messages > h2,
.history > h2,
.tasks > h2,
.communities > h2,
.settings > h2,
.support > h2,
.privacy > h2
 {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
    /*text-align: center;*/
    margin-left:35px;
}


.settings {
    margin-top: 40px;
}